{% extends "base.html" %}
{% block title %}Профиль пользователя: {{ author.get_full_name }}{% endblock %}
{% block header %}Профиль пользователя: {{ author.get_full_name }} {% endblock %}
{% block content %}
<main role="main" class="container">
  <li class="list-group-item">
    {% include "subscribe.html" %}
  </li>
    <div class="row">
      <div class="col-md-3 mb-3 mt-1">
       {% include "author_card.html" %}
      <div class="col-md-9">
        {% for post in page %}
        {% include "post_item.html" with post=post %}  
        {% endfor %}                <!-- Здесь постраничная навигация паджинатора -->
        {% if page.has_other_pages %}
        {% include "paginator.html" with items=page paginator=paginator%}
        {% endif %}  
      </div>
    </div>
  </main>
{% endblock %}