{% extends "base.html" %}
{% load static %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block header %}<a class="btn btn-lg btn-light">Последние обновления на сайте</a>{% endblock %}
{% load thumbnail %}
{% block content %}
<div class="container">
{% include "includes/menu.html" with index=True %}
{% for post in page %}
{% include "includes/post_item.html" with post=post %}
{% endfor %}
{% include "includes/paginator.html" with items=page paginator=paginator%}
</div>
{% endblock %}