<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="row">
    <!-- Левый вспомогательный блок -->
    <div class="col-md-3 mb-3 mt-1">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="h3">
                Об авторе
              </div>
            </li>
            <li class="list-group-item">
              <div class="h6 text-muted">
                <br><a href="https://github.com/arsban">GitHub</a>
                <br><a href="https://www.instagram.com/gika_p/">Instagram</a>
                <br><a href="https://www.facebook.com/akakiy.druz">Facebook</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Тело страницы -->
    <div class="col-md-9">
      <div class="card-body">
        <div class="card-text">
          <p><h1>Меня зовут Георгий</h1></p>
Я обычный, скромный парень, который 
совершенно случайно решил попробовать 
себя в програмировании на карантине
и влюбился в это дело до такой степени, 
что решил связать с этим всю свою дальшейшую жизнь.<br>

Сложно сказать вдохновляет меня что-то для этого или нет.
Мне нравилось решать быстрые, несложные головоломки
с самого детсва, вот и  в програмировании 
я нашел для себя целую вселенную мелких головоломок,
на решения которых могу потратить даже несколько дней,
а когда нахожу как их решить, получаю ни с чем не сравнимое удовольствие
от проделанной работы и чувствую себя счастливым.<br> 
В програмировании я нашел для себя хобби в котором 
отдыхает моя душа))))) очень жаль что я не начал раньше))))<br>
В интернете, в разных социальных сетях предпочитаю использовать ники 
по типу 'Gika', 'Arsban', и даже придумал себе шуточный псевдоним 'Акакий Друзь'.
        </div>
      </div>
    </div>
  </div>
{% endblock %}